body{
    font-family: 'Bitter', serif;
    background-color: #EA569A;
    height: 100vh;
    width: 100vw;
}
header{
    background-color: white;
    height: 30vh;
    width: 100vw;
}
h1,h2{
    font-family: 'Fredericka the Great', cursive;
}

form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 550px;
    height: 550px;
    border-radius: 40px;
    box-shadow: 20px 10px 20px 2px #121212d1;
    background-color: white;
    padding: 50px;
}